.menu-principal
	height 5em	
	width 100%
	background-color red
		
.menu-principal-item
	display inline-block
	padding 2em

.menu-principal-link
	color white
	text-decoration none

.menu-principal-lista
	margin 0
	padding 0
	
.background
	height 200px
	background-color grey

